In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Jaivansh Chawla\Documents\COLLEGE\ML LAB\my_file (1).csv')

In [6]:
# Remove leading/trailing spaces in column names
df.columns = df.columns.str.strip() 
df.columns

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [8]:
# Remove square bracket content (e.g. [note]) from 'Peak' column
df['Peak'] = df['Peak'].str.replace(r'\[.*?\]', '', regex=True)

# Fill missing values with empty string
df['Peak'].fillna('', inplace = True)
df

C:\Users\Jaivansh Chawla\AppData\Local\Temp\ipykernel_8864\1690708844.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Peak'].fillna('', inplace = True)

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2,NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [9]:
# Remove square bracket content from 'All Time Peak' column
df['All Time Peak'] = df['All Time Peak'].str.replace(r'\[.*?\]', '', regex=True)

# Fill missing values with empty string
df['All Time Peak'].fillna('', inplace = True)
df

C:\Users\Jaivansh Chawla\AppData\Local\Temp\ipykernel_8864\804332107.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['All Time Peak'].fillna('', inplace = True)

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,,,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,,,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,,,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,,,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,,,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2,,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,,,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,,,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,,,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,,,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,,,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [10]:
# Replace multiple whitespace characters (including non-breaking spaces) with a single space, and strip
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True).str.strip()
cleaned_columns = df.columns.tolist()
df.columns

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [11]:
# Remove dollar signs, commas, and bracketed notes; strip whitespace
df['Actual gross'] = (
    df['Actual gross']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)
    .str.replace(r'\[.*?\]', '', regex=True)
    .str.strip()
)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,"$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7,579800000,"$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,411000000,"$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,10,397300000,"$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,,345675146,"$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,305158363,"$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,,280000000,"$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,,,257600000,"$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,,,256084556,"$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,,,250400000,"$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,,,229100000,"$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,,14,227400000,"$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,,,204000000,"$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,,200000000,"$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2,,194000000,"$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,,,184000000,"$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,,,170000000,"$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,,,169800000,"$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,,,167700000,"$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,,,150000000,"$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [12]:
#  Remove dollar signs and commas; strip whitespace
df['Adjusted gross (in 2022 dollars)'] = (
    df['Adjusted gross (in 2022 dollars)']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)  # Remove $ and commas
    .str.strip()
)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,,,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,,,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,,,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,,,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,,14,227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,,,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2,,194000000,281617035,Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,,,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,,,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,,,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,,,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,,,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [13]:
# Remove footnote symbols (e.g. *, †, ‡) and bracketed notes
df['Tour title'] = df['Tour title'].str.replace(r'[\.*?‡†]', '', regex=True).str.replace(r'\[.*?\]', '', regex=True)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",[1]
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[6]
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,,,257600000,257600000,Pink,Summer Carnival,2023–2024,41,"$6,282,927",[12]
8,9,,,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,,,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,,,229100000,283202896,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[18]
12,13,,,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,,200000000,299676265,Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[20]
14,15,2,,194000000,281617035,Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,,,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,,,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,,,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,,,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,,,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [14]:
#Split the year to start year and end year
df[['Start Year', 'End Year']] = df['Year(s)'].str.split('–', n=1, expand= True)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,Start Year,End Year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",[1],2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],2023,None
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[6],2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],2018,2019
4,5,2,,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],2018,None
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],2012,None
6,7,2,,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],2008,2009
7,7,,,257600000,257600000,Pink,Summer Carnival,2023–2024,41,"$6,282,927",[12],2023,2024
8,9,,,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],2016,None
9,10,,,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],2015,None
10,11,,,229100000,283202896,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],2013,2014
11,12,,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[18],2009,2011
12,13,,,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],2014,2015
13,14,1,,200000000,299676265,Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[20],2002,2005
14,15,2,,194000000,281617035,Madonna,Confessions Tour,2006,60,"$3,233,333",[5],2006,None
15,16,,,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],2013,2014
16,17,,,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],2012,2013
17,18,,,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],2015,2016
18,19,,,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],2016,2017
19,20,,,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],2013,2014

In [ ]:
#Remove any dollar sign, comma or any other signs
df['Average gross'] = (
    df['Average gross']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)  # Remove $ and commas
    .str.strip()
)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,Start Year,End Year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,[1],2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3],2023,None
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,2008–2009,85,4835294,[6],2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7],2018,2019
4,5,2,,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8],2018,None
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9],2012,None
6,7,2,,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11],2008,2009
7,7,,,257600000,257600000,Pink,Summer Carnival,2023–2024,41,6282927,[12],2023,2024
8,9,,,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13],2016,None
9,10,,,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14],2015,None
10,11,,,229100000,283202896,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132,1735606,[15][16],2013,2014
11,12,,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,1118227,[18],2009,2011
12,13,,,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,[19],2014,2015
13,14,1,,200000000,299676265,Cher,Living Proof: The Farewell Tour,2002–2005,325,615385,[20],2002,2005
14,15,2,,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,[5],2006,None
15,16,,,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22],2013,2014
16,17,,,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[d],2012,2013
17,18,,,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4],2015,2016
18,19,,,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25],2016,2017
19,20,,,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26],2013,2014

In [16]:
#Save the cleaned dataset
df.to_csv("cleaned_data.csv", index=False)

In [ ]:
df.head()